<!DOCTYPE HTML>
<html>
<head>
    <title>Опрос</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>

    <style>
        .wrapper {
            width: 1280px;
            margin: 0 auto;
        }
        .menu {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .menu__item {
            margin-top: 10px;
        }
        .menu__button {
            width: 400px;
        }

    </style>

    <div class="wrapper">
        <div class="menu">
            {{#categories}}
                <div class="menu__item">
                    <button class="mdl-button mdl-js-button mdl-button--raised menu__button" onclick="location.href='quiz/{{&id}}?userId={{&userId}}'">{{name}}</button>
                </div>
            {{/categories}}

            <div class="menu__item">
                <button onclick="location.href='greet'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent menu__button">Выйти</button>
            </div>
        </div>
    </div>
</body>
</html>
