<!DOCTYPE HTML>
<html>
<head>
    <title>Опрос</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<div>
    <style>
        .wrapper {
            width: 1280px;
            margin: 0 auto;
        }
        .questions {
            margin-top: 10px;
        }
        .quiz__item {
            margin-top: 20px;
            width: 400px;
        }
        .quiz {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
    <script>
        function saveUser() {
            var json = {
            };
            json.name = document.getElementsByClassName("studentName")[0].value;
            json.studyGroup = document.getElementsByClassName("studyGroup")[0].value;
            post('greet', JSON.stringify(json));
            console.log(json);
        }
        function post(url, json) {
            var xhr = new XMLHttpRequest();
            var url = url;
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    window.location.href = xhr.responseText;
                }
            };
            xhr.send(json);
        }
    </script>

    <div class="wrapper">
        <div class="quiz">
            <div class="quiz__item">
                <input required type="text" class="studentName questions mdl-textfield__input" pattern="^[А-Яа-яЁё\s]+$" placeholder="Фамилия и имя" />
                <input required type="text" class="studyGroup questions mdl-textfield__input" pattern="[А-Я]{4}-[0-9]{2}-[0-9]{2}"
                       placeholder="Группа AAAA-00-00">
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised questions quiz__item" onclick="saveUser()">Продолжить</button>
            <button onclick="location.href='/'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent quiz__item">Вернуться в меню</button>
        </div>
    </div>
</div>
</body>
