<!DOCTYPE HTML>
<html>
<head>
    <title>Опрос</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<div>
    <style>
        .wrapper {
            width: 1280px;
            margin: 0 auto;
        }
        .questions {
            margin-top: 10px;
        }
        .quiz__item {
            margin-top: 20px;
            width: 400px;
        }
        .quiz {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
    <script>
        function saveAnswer() {
            var json = {
            };
            var blocks = document.getElementsByClassName("questionBlock");
            json.userId = "{{&userId}}";
            json.rawAnswers = [];
            for (var i = 0; i < blocks.length; i++) {
                var questionInput = blocks[i].getElementsByClassName("question")[0];
                var answerInput = blocks[i].getElementsByClassName("answer")[0];
                json.rawAnswers.push({answer: answerInput.value, questionId: questionInput.innerHTML});
            }
            post('/quiz/{{&categoryId}}', JSON.stringify(json));
            console.log(json);
        }
        function post(url, json) {
            var xhr = new XMLHttpRequest();
            var url = url;
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    window.location.href = xhr.responseText;
                }
            };
            xhr.send(json);
        }
    </script>

    <div class="wrapper">
        <div class="quiz">
            {{#questions}}
            <div class="questionBlock quiz__item">
                <span class="typo-styles__demo mdl-typography--headline questions">{{text}}</span>
                <textarea class="question mdl-textfield__input questions" type="text" rows= "3" style="display: none;" name="questionId">{{id}}</textarea>
                <textarea class="answer mdl-textfield__input questions" type="text" rows= "3" name="answer" placeholder="Введите ответ"></textarea>
            </div>
            {{/questions}}
            <button class="mdl-button mdl-js-button mdl-button--raised questions quiz__item" onclick="saveAnswer()">Ответить</button>

            <button onclick="location.href='/quiz?userId={{&userId}}'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent quiz__item">Вернуться назад</button>
        </div>
    </div>
</div>
</body>
