<!DOCTYPE HTML>
<html>
<head>
    <title>Опрос</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<style>
    .wrapper {
        width: 1280px;
        margin: 0 auto;
    }

    .add-question__item {
        margin-top: 20px;
        width: 900px;
    }
    .add-question {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>

<div class="wrapper">
    <div class="add-question">
        <span class="typo-styles__demo mdl-typography--headline add-question__item">Добавить категорию</span>
        <div class="add-question__item">
            <form method="post" action="addCategory">
                <input required type="text" name="categoryName" class="mdl-textfield__input" placeholder="Категория" />
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised add-question__item">Добавить</button>
            </form>
        </div>

        <span class="typo-styles__demo mdl-typography--headline add-question__item">Добавить вопрос</span>
        <div class="add-question__item">
            <form method="post" action="addQuestion">
                <select required name="categoryId" class="mdl-textfield__input">
                    <option disabled selected="selected">Категория</option>
                    {{#categories}}
                    <option value={{id}}>{{name}}</option>
                    {{/categories}}
                </select>
                <input required type="text" name="text" class="mdl-textfield__input" placeholder="Вопрос" />
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised add-question__item">Добавить</button>
            </form>
        </div>

        <span class="typo-styles__demo mdl-typography--headline add-question__item">Редактирование категорий</span>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp add-question__item">
            <thead>
            <tr>
                <th>Категория</th>
            </tr>
            </thead>
            <tbody>
            {{#categories}}
            <tr>
                <form method="post" action="editCategory">
                    <td>
                         <textarea class="mdl-textfield__input" type="text" rows= "1" name="name">{{name}}</textarea>
                    </td>

                    <textarea style="display: none;" name="categoryId">{{id}}</textarea>

                    <td>
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Сохранить</button>
                    </td>
                </form>
            </tr>
            {{/categories}}
            </tbody>
        </table>

        <span class="typo-styles__demo mdl-typography--headline add-question__item">Редактирование вопросов</span>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp add-question__item">
            <thead>
                <tr>
                    <th>Категория</th>
                    <th>Вопрос</th>
                    <th>Отображаемый</th>
                </tr>
            </thead>
            <tbody>
                {{#questions}}
                <tr>
                    <form method="post" action="editQuestion">
                        <td>
                            <select required name="categoryId" class="mdl-textfield__input">
                                <option disabled selected="selected">{{#category}}{{name}}{{/category}}</option>
                                {{#categories}}
                                <option value={{id}}>{{name}}</option>
                                {{/categories}}
                            </select>
                        </td>
                        <td>
                            <textarea class="mdl-textfield__input" type="text" rows= "3"
                                      name="text">{{text}}</textarea>
                        </td>

                        <td>
                            <select required name="isActive" class="mdl-textfield__input">
                                <option disabled selected="selected">{{active}}</option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </td>

                        <textarea style="display: none;" name="questionId">{{id}}</textarea>

                        <td>
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Сохранить</button>
                        </td>
                    </form>
                </tr>
                {{/questions}}
            </tbody>
        </table>
        <div class="add-question__item">
            <button onclick="location.href='/'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent add-question__item">Вернуться в меню</button>
        </div>
    </div>
</div>
</body>
</html>
