<!DOCTYPE HTML>
<html>
<head>
    <title>Опрос</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>

    <style>
        .wrapper {
            width: 1280px;
            margin: 0 auto;
        }
        .stat {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .stat__item {
            margin-top: 20px;
            width: 900px;
        }
    </style>

    <div class="wrapper">
        <div class="stat">
            <header class = "mdl-layout__header stat__item">
                <div class = "mdl-layout__header-row">
                    <span class = "mdl-layout-title">Студенты</span>
                </div>
            </header>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp stat__item">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Фамилия и имя</th>
                    <th>Группа</th>
                </tr>
                </thead>
                <tbody>
                {{#users}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{StudyGroup}}</td>
                    </tr>
                {{/users}}
                </tbody>
            </table>

            <div>
                <header class = "mdl-layout__header">
                    <div class = "mdl-layout__header-row">
                        <span class = "mdl-layout-title">Вопросы по категориям</span>
                    </div>
                </header>

                <main class = "mdl-layout__content">
                    <div class = "mdl-tabs mdl-js-tabs">
                        <div class = "mdl-tabs__tab-bar todo_div">
                        {{#categories}}
                            <a href = "#tab{{id}}-panel" class = "mdl-tabs__tab {{someClass}}">{{name}}</a>
                        {{/categories}}
                        </div>

                        {{#categories}}
                        <div class = "mdl-tabs__panel {{someClass}}" id = "tab{{id}}-panel">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp stat__item">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Вопрос</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#questions}}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{text}}</td>
                                    </tr>
                                {{/questions}}
                                </tbody>
                            </table>
                        </div>
                        {{/categories}}
                    </div>
                </main>
            </div>

<!--            ОТВЕТ-->

            <div>
                <header class = "mdl-layout__header">
                    <div class = "mdl-layout__header-row">
                        <span class = "mdl-layout-title">Ответы по категориям</span>
                    </div>
                </header>

                <main class = "mdl-layout__content">
                    <div class = "mdl-tabs mdl-js-tabs">
                        <div class = "mdl-tabs__tab-bar todo_div">
                            {{#categories}}
                                <a href = "#tablet{{id}}-panel" class = "mdl-tabs__tab {{someClass}}">{{name}}</a>
                            {{/categories}}
                        </div>

                        {{#categories}}
                            <div class = "mdl-tabs__panel {{someClass}}" id = "tablet{{id}}-panel">
                                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp stat__item">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ответ</th>
                                        <th>Вопрос</th>
                                        <th>Студент</th>
                                        <th>Группа</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{#questions}}
                                        {{#answers}}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{answer}}</td>
                                            {{#question}}
                                            <td>{{text}}</td>
                                                {{/question}}
                                            {{#user}}
                                            <td>{{name}}</td>
                                            <td>{{studyGroup}}</td>
                                                {{/user}}
                                    </tr>
                                        {{/answers}}
                                        {{/questions}}
                                    </tbody>
                                </table>
                            </div>
                        {{/categories}}
                    </div>
                </main>
            </div>

            <button onclick="location.href='/'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent stat__item">Вернуться в меню</button>
        </div>
    </div>

</body>
</html>
